{% extends 'base.html' %}

{% block body %}

<h1>Graphs</h1>

<div class="panel">
<div id="amChart" style="width: 100%; height: 500px;"></div>

</div>

<!-- Plotly -->

<script src="https://cdn.plot.ly/plotly-2.35.2.min.js"></script>

<script>
    // Data supplied by Flask/Jinja
    const original = {{ original|tojson|safe }};
    const modified = {{ rows|tojson|safe }};

    console.log('original:', original);
    console.log('modified:', modified);


    /*
     * Convert a list of amortization records into
     * separate X and Y arrays for Plotly.
     */
    function buildSeries(data, field) {
        data = data || [];

        return {
            x: data.map(row => row.date),
            y: data.map(row => Number(row[field] ?? 0))
        };
    }


    /*
     * Build the data series.
     */
    const currentBalance = buildSeries(modified, 'balance');
    const originalBalance = buildSeries(original, 'balance');
    const runningIncome = buildSeries(modified, 'running');


    /*
     * Define the Plotly traces.
     */
    const traces = [
        {
            x: currentBalance.x,
            y: currentBalance.y,

            type: 'scatter',
            mode: 'lines',

            name: 'Balance (current schedule)',

            line: {
                color: 'rgba(75, 192, 192, 1)',
                width: 2
            },

            hovertemplate:
                '<b>%{x|%b %Y}</b><br>' +
                'Balance (current): $%{y:,.2f}' +
                '<extra></extra>'
        },

        {
            x: originalBalance.x,
            y: originalBalance.y,

            type: 'scatter',
            mode: 'lines',

            name: 'Balance (original)',

            line: {
                color: 'rgba(192, 75, 75, 1)',
                width: 2,
                dash: 'dash'
            },

            hovertemplate:
                '<b>%{x|%b %Y}</b><br>' +
                'Balance (original): $%{y:,.2f}' +
                '<extra></extra>'
        },

        {
            x: runningIncome.x,
            y: runningIncome.y,

            type: 'scatter',
            mode: 'lines',

            name: 'Running net income/loss',

            line: {
                color: 'rgba(75, 75, 192, 1)',
                width: 2
            },

            hovertemplate:
                '<b>%{x|%b %Y}</b><br>' +
                'Running net income/loss: $%{y:,.2f}' +
                '<extra></extra>'
        }
    ];


    /*
     * Configure the graph layout.
     */
    const layout = {
        margin: {
            l: 80,
            r: 30,
            t: 30,
            b: 80
        },

        xaxis: {
            title: {
                text: 'Date (Month Year)'
            },

            type: 'date',

            tickformat: '%b %Y',

            tickangle: 0,

            showgrid: true
        },

        yaxis: {
            title: {
                text: 'Amount ($)'
            },

            tickprefix: '$',

            tickformat: ',.0f',

            showgrid: true
        },

        hovermode: 'x unified',

        legend: {
            orientation: 'h',

            y: -0.2,

            x: 0
        }
    };


    /*
     * Configure Plotly controls.
     */
    const config = {
        responsive: true,

        displaylogo: false,

        modeBarButtonsToRemove: [
            'lasso2d',
            'select2d'
        ]
    };


    /*
     * Create the graph.
     */
    Plotly.newPlot(
        'amChart',
        traces,
        layout,
        config
    );
</script>

{% endblock %}
